<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430239783730-3nsohtb58f0si0iafmd882nbqgefqsao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430239783730-3nsohtb58f0si0iafmd882nbqgefqsao</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>430239783730-5ngmutkhmm82ov0v9u77b0log40n4svo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBky9DlxmBal4jYNgjuNZCc9gLDsQ6iVU0</string>
	<key>GCM_SENDER_ID</key>
	<string>430239783730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motologMobile</string>
	<key>PROJECT_ID</key>
	<string>motolog-23f9f</string>
	<key>STORAGE_BUCKET</key>
	<string>motolog-23f9f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430239783730:ios:7b37b2404715408829d52b</string>
	<key>DATABASE_URL</key>
	<string>https://motolog-23f9f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>